<html>
<%- include("./share/headErShou.ejs") %>
<style>
    .swiper-wrapper-list {
        height: 124px;
    }

    .swiper-wrapper .swiper-slide-img {
        background-repeat: no-repeat;
        background-size: cover;
    }

    #dialog-swiper .swiper-slide {
        max-height: 750px;
    }
</style>
<body>
<h1 style="position: absolute;left: -1000px;">菲律宾同城交易，二手物品交易，闲置物品出售</h1>
<div class="container border" id="app">
    <%- include("./share/nav.ejs") %>
    <div class="search-panel row pt-2 pb-2 border-bottom">
        <div class="input-group align-items-center">
            <input v-model="searchText" type="text" class="form-control fs-7"
                   placeholder="请输入关键字搜索" aria-label="菲律宾同城交易"/>
            <div @click="search" class="icofont-search-2 ms-2 pt-2 pb-2 text-center" style="width: 32px"></div>
        </div>
    </div>
    <div class="list-panel">
        <% for (const item of list) { %>
            <div class="list-item pt-3">
                <div class="d-flex align-items-center mb-2">
                    <i class="icofont-hotel-boy-alt text-warning fs-5"></i>
                    <span class="fs-7 ms-1 text-secondary"><%= item.username || '平台发布' %></span>
                </div>
                <div>
                    <%= item.content %>
                </div>
                <% if (item.price > 0) { %>
                    <div class="d-flex">
                        <span class="text-info">价格：</span>
                        <span><%= item.price %></span>
                    </div>
                <% } %>
                <% if (item.quality > 0) { %>
                    <div class="d-flex">
                        <span class="text-info">新旧程度：</span>
                        <span><%= item.quality %></span>
                    </div>
                <% } %>
                <% if (item.way > 0) { %>
                    <div class="d-flex">
                        <span class="text-info">交易方式：</span>
                        <span><%= item.way %></span>
                    </div>
                <% } %>
                <% if (item.imgs.length > 0) { %>
                    <div class="imgs-wrap mt-3">
                        <div id="mySwiper"
                             class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                            <div class="swiper-wrapper swiper-wrapper-list" id="swiper-wrapper-1015cbcca4dcae0c7"
                                 aria-live="polite">
                                <% for (const img of item.imgs) { %>
                                    <div data-item="<%= item.imgs %>" class="swiper-slide swiper-slide-img"
                                         style="background-image: url('<%- img %>')">
                                    </div>
                                <% } %>
                            </div>
                            <div id="list-swiper-pagination" class="swiper-pagination"></div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
    <nav class="mt-2" aria-label="菲律宾同城交易">
        <ul class="pagination justify-content-center align-items-center">
            <li @click="goPage(pageNumber - 1)" class="page-item" :class="{disabled: pageNumber === 1}">
                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-if="pageNumber-1" @click="goPage(pageNumber-1)" class="page-item"><a class="page-link"
                                                                                       href="javascript:void(0)">{{pageNumber-1}}</a>
            </li>
            <li @click="goPage(pageNumber)" class="page-item active"><a class="page-link" href="javascript:void(0)">{{pageNumber}}</a>
            </li>
            <li v-if="pageNumber + 1 <= <%= totalPages; %>" @click="goPage(pageNumber + 1)" class="page-item"><a
                        class="page-link" href="javascript:void(0)">{{pageNumber+1}}</a>
            </li>
            <li @click="goPage(pageNumber + 1)" class="page-item"
                :class="{disabled: pageNumber === <%= totalPages; %>}">
                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <div class="ms-2">共<span class="text-success ms-1 me-1"><%= totalPages; %></span>页</div>
        </ul>
    </nav>
    <% if (user) { %>
        <img @click="goPost" class="position-fixed z-3 img-fluid" style="width: 50px;bottom: 40px; right: 20px;"
             alt="发布闲置物品" src="/images/add.png"/>
    <% } else { %>
        <img @click="goLogin" class="position-fixed z-3 img-fluid" style="width: 50px;bottom: 40px; right: 20px;"
             alt="发布闲置物品" src="/images/add.png"/>
    <% } %>
    <div id="slide-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div id="dialog-swiper"
                         class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                        <div class="swiper-wrapper" aria-live="polite">
                            <div v-for="img in selectedImgs" class="swiper-slide">
                                <img :src="img" alt="菲律宾二手交易" style="width: 100%"/>
                            </div>
                        </div>
                        <div id="dialog-swiper-pagination" class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                globalData,
                searchText: '',
                pageNumber: Number("<%= pageNumber; %>"),
                selectedImgs: []
            };
        },
        created() {
        },
        mounted() {
            new Swiper("#mySwiper", {
                slidesPerView: 3,
                spaceBetween: 2,
                pagination: {
                    el: "#list-swiper-pagination",
                    clickable: true,
                },
                on: {
                    click: (swiper, event) => {
                        this.selectedImgs = event.target.dataset.item.split(',');
                        const slideModal = new bootstrap.Modal('#slide-modal', {});
                        slideModal.toggle();
                        const slideModalEl = document.getElementById('slide-modal');
                        slideModalEl.addEventListener('shown.bs.modal', e => {
                            new Swiper("#dialog-swiper", {
                                initialSlide: swiper.clickedIndex,
                                slidesPerView: 'auto',
                                autoHeight: true,
                                pagination: {
                                    el: "#dialog-swiper-pagination",
                                    clickable: true,
                                },
                            });
                        });
                    },
                },
            });
        },
        methods: {
            goPage(num) {
                this.pageNumber = num;
                this.query('page');
            },
            goPost() {
                window.location.href = '/postErShou';
            },
            goLogin() {
                window.location.href = '/user/login';
            },
            query() {
                const q = Qs.parse(location.search.slice(1));
                if (!this.pageNumber) {
                    delete q.pageNumber;
                } else {
                    q.pageNumber = this.pageNumber;
                }
                if (!this.searchText) {
                    delete q.searchText;
                } else {
                    q.searchText = this.searchText;
                }
                window.location.href = window.location.origin + window.location.pathname + "?" + Qs.stringify(q);
            },
            search() {
                this.query();
            },
        }
    }).mount('#app');
</script>
</body>
</html>