<html>
<%- include("./share/headRent.ejs") %>
<body>
<h1 style="position: absolute;left: -1000px;">菲律宾租房，马尼拉租房，马卡蒂租房</h1>
<div class="container border" id="app">
    <%- include("./share/nav.ejs") %>
    <div class="search-panel row pt-2 pb-2 border-bottom">
        <div class="input-group align-items-center">
            <select v-model="searchType" class="form-select fs-7" aria-label="菲律宾租房">
                <option value="title">标题</option>
                <option value="content">内容</option>
                <option value="username">发布人</option>
            </select>
            <input v-if="searchType === 'title'" v-model="searchTitleText" type="text" class="form-control fs-7"
                   placeholder="有阳台" style="width: 40%"
                   aria-label="菲律宾租房"/>
            <input v-if="searchType === 'content'" v-model="searchContentText" type="text" class="form-control fs-7"
                   placeholder="有阳台" style="width: 40%"
                   aria-label="菲律宾租房"/>
            <input v-if="searchType === 'username'" v-model="searchUsernameText" type="text" class="form-control fs-7"
                   placeholder="有阳台" style="width: 40%"
                   aria-label="菲律宾租房"/>
            <select v-model="publish_type" class="form-select fs-7" aria-label="菲律宾租房">
                <option value="">全部</option>
                <option value="1">个人</option>
                <option value="2">中介</option>
            </select>
            <div @click="search" class="icofont-search-2 ms-2 pt-2 pb-2 text-center" style="width: 32px"></div>
        </div>
    </div>
    <div class="select-panel row p-2 position-relative border-bottom">
        <div class="col position-relative cursor-pointer">
            <span class="d-flex fs-7 align-items-center justify-content-center" @click="toggleNavShow(0)">位置<em
                        class="triangeld"
                        :class="{active: showNavConfig[0]}"></em></span>
        </div>
        <div class="click-show-part bg-light row position-absolute w-100 top-100 z-3"
             :class="{'d-none': !showNavConfig[0]}">
            <ul class="list-group col-5 pe-0">
                <li @click="curProvince = item.value"
                    class="list-group-item border-0 cursor-pointer"
                    :class="{'list-group-item-success': curProvince === item.value}"
                    v-for="(item, index) in globalData.cities" :key="item.value">
                    {{item.label}}
                </li>
            </ul>
            <ul class="list-group col-7 pe-0">
                <li @click="selectCurCity(item)"
                    class="list-group-item border-0 cursor-pointer"
                    :class="{'list-group-item-success': curCity === item.value}"
                    v-for="(item, index) in globalData.cities.find(item => item.value === curProvince).children"
                    :key="item.value">
                    {{item.label}}
                </li>
            </ul>
        </div>
        <div class="col position-relative cursor-pointer">
            <span class="d-flex fs-7 align-items-center justify-content-center" @click="toggleNavShow(1)">租金<em
                        class="triangeld"
                        :class="{active: showNavConfig[1]}"></em></span>
        </div>
        <div class="click-show-part bg-light position-absolute start-0 top-100 z-3"
             :class="{'d-none': !showNavConfig[1]}">
            <ul class="list-group col">
                <li @click="selectCurPrice(item)"
                    class="list-group-item border-0 cursor-pointer"
                    :class="{'list-group-item-success': rentMoneyValue === item.value}"
                    v-for="(item, index) in globalData.rentMoneys" :key="item.value">
                    {{item.label}}
                </li>
            </ul>
        </div>
        <div class="col position-relative cursor-pointer">
            <span class="d-flex fs-7 align-items-center justify-content-center" @click="toggleNavShow(2)">类型<em
                        class="triangeld"
                        :class="{active: showNavConfig[2]}"></em></span>
        </div>
        <div class="click-show-part bg-light position-absolute start-0 top-100 z-3"
             :class="{'d-none': !showNavConfig[2]}">
            <ul class="list-group col">
                <li @click="selectCurRentType(item)"
                    class="list-group-item  border-0 cursor-pointer"
                    :class="{'list-group-item-success': rentTypeValue === item.value}"
                    v-for="(item, index) in globalData.rentTypes" :key="item.value">
                    {{item.label}}
                </li>
            </ul>
        </div>
        <div class="col position-relative cursor-pointer">
            <span class="d-flex fs-7 align-items-center justify-content-center" @click="toggleNavShow(3)">户型<em
                        class="triangeld"
                        :class="{active: showNavConfig[3]}"></em></span>
        </div>
        <div class="click-show-part bg-light position-absolute start-0 top-100 z-3"
             :class="{'d-none': !showNavConfig[3]}">
            <ul class="list-group col">
                <li @click="selectCurHouseType(item)"
                    class="list-group-item border-0 cursor-pointer"
                    :class="{'list-group-item-success': room === item.value}"
                    v-for="(item, index) in globalData.houseTypes" :key="item.value">
                    {{item.label}}
                </li>
            </ul>
        </div>
        <div class="col position-relative cursor-pointer">
            <span class="d-flex fs-7 align-items-center justify-content-center" @click="toggleNavShow(4)">筛选<em
                        class="triangeld"
                        :class="{active: showNavConfig[4]}"></em></span>
        </div>
        <div class="click-show-part bg-light position-absolute start-0 top-100 p-3 z-3"
             :class="{'d-none': !showNavConfig[4]}">
            <div class="mb-2" v-for="obj in globalData.filterTypes" :key="obj.label">
                <div class="h6">{{obj.label}}</div>
                <div class="row g-2">
                    <div class="col-3" v-for="(item, index) in obj.list" :key="item.value">
                        <input :type="obj.type" :value="item.value" v-model="filterConfig[obj.model]" class="btn-check"
                               :id="obj.model + String(index)"
                               autocomplete="off">
                        <label class="btn btn-outline-success p-1 w-100 text-nowrap"
                               :for="obj.model + String(index)">{{item.label}}</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <button class="btn btn-secondary w-25 me-3" @click="resetCurFilter">重置</button>
                <button class="btn btn-success w-25 ms-3" @click="selectCurFilter">确定</button>
            </div>
        </div>
    </div>
    <%- include('./share/list'); %>
    <nav class="mt-2" aria-label="菲律宾租房">
        <ul class="pagination justify-content-center align-items-center">
            <li @click="goPage(pageNumber - 1)" class="page-item" :class="{disabled: pageNumber === 1}">
                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-if="pageNumber-1" @click="goPage(pageNumber-1)" class="page-item"><a class="page-link"
                                                                                       href="javascript:void(0)">{{pageNumber-1}}</a>
            </li>
            <li @click="goPage(pageNumber)" class="page-item active"><a class="page-link" href="javascript:void(0)">{{pageNumber}}</a>
            </li>
            <li v-if="pageNumber + 1 <= <%= totalPages; %>" @click="goPage(pageNumber + 1)" class="page-item"><a
                        class="page-link" href="javascript:void(0)">{{pageNumber+1}}</a>
            </li>
            <li @click="goPage(pageNumber + 1)" class="page-item"
                :class="{disabled: pageNumber === <%= totalPages; %>}">
                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <div class="ms-2">共<span class="text-success ms-1 me-1"><%= totalPages; %></span>页</div>
        </ul>
    </nav>
    <% if (user) { %>
        <img @click="goPost" class="position-fixed img-fluid" style="width: 50px;bottom: 40px; right: 20px;"
             alt="发布房源" src="/images/add.png"/>
    <% } else { %>
        <img @click="goLogin" class="position-fixed img-fluid" style="width: 50px;bottom: 40px; right: 20px;"
             alt="发布房源" src="/images/add.png"/>
        <!--<div @click="goLogin" class="position-fixed bg-primary text-light fs-6 rounded-circle text-center"
             style="width: 50px; height: 50px;line-height: 50px;bottom: 60px; right: 20px;"
        >登录
        </div>-->
    <% } %>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                globalData,
                pageNumber: Number("<%= pageNumber; %>"),
                curProvince: '0',
                curCity: '1.1',
                rentMoneyValue: "",
                rentTypeValue: '',
                room: '',
                showNavConfig: {},
                filterConfig: {},
                publish_type: '',
                searchType: 'title',
                searchTitleText: '',
                searchContentText: '',
                searchUsernameText: '',
            };
        },
        created() {
            for (const obj of this.globalData.filterTypes) {
                if (obj.type === "checkbox") {
                    this.filterConfig[obj.model] = [];
                }
            }
        },
        mounted() {
            const q = Qs.parse(location.search.slice(1));
            this.pageNumber = Number(q.pageNumber) || 1;
            this.searchTitleText = q.title || '';
            this.searchContentText = q.content || '';
            this.searchUsernameText = q.username || '';
            this.publish_type = q.publish_type || '';
            this.curCity = q.city || '';
            this.rentMoneyValue = q.price || '';
            this.rentTypeValue = q.vice_class || '';
            this.room = q.room || '';
            this.filterConfig = {
                timeFilter: q.timeFilter || '',
                roomFilter: q.roomFilter || '',
                dressFilter: q.dressFilter || '',
                facingFilter: q.facingFilter || '',
                furnishFilter: q.furnishFilter ? q.furnishFilter.split(',') : [],
                tagFilter: q.tagFilter ? q.tagFilter.split(',') : [],
            };
        },
        methods: {
            goPage(num) {
                this.pageNumber = num;
                this.query('page');
            },
            goPost() {
                window.location.href = '/post';
            },
            goLogin() {
                window.location.href = '/user/login';
            },
            toggleNavShow(v) {
                for (const key in this.showNavConfig) {
                    if (String(key) !== String(v)) {
                        this.showNavConfig[key] = false;
                    }
                }
                this.showNavConfig[v] = !this.showNavConfig[v];
            },
            selectCurCity(item) {
                this.curCity = item.value;
                this.query('city');
            },
            selectCurPrice(item) {
                this.rentMoneyValue = item.value;
                this.query('price');
            },
            selectCurRentType(item) {
                this.rentTypeValue = item.value;
                this.query('vice_class');
            },
            selectCurHouseType(item) {
                this.room = item.value;
                this.query('room');
            },
            selectCurFilter() {
                this.query('config');
            },
            resetCurFilter() {
                this.filterConfig = {
                    timeFilter: '',
                    roomFilter: '',
                    dressFilter: '',
                    facingFilter: '',
                    furnishFilter: [],
                    tagFilter: [],
                };
            },
            search() {
                this.query('search');
            },
            query(type) {
                const q = Qs.parse(location.search.slice(1));
                if (type === 'page') {
                    if (!this.pageNumber) {
                        delete q.pageNumber;
                    } else {
                        q.pageNumber = this.pageNumber;
                    }
                }
                if (type === 'search') {
                    if (!this.searchTitleText) {
                        delete q.title;
                    } else {
                        q.title = this.searchTitleText;
                    }
                    if (!this.searchContentText) {
                        delete q.content;
                    } else {
                        q.content = this.searchContentText;
                    }
                    if (!this.searchUsernameText) {
                        delete q.username;
                    } else {
                        q.username = this.searchUsernameText;
                    }
                    if (!this.publish_type) {
                        delete q.publish_type;
                    } else {
                        q.publish_type = this.publish_type;
                    }
                }
                if (type === "city") {
                    if (!this.curCity) {
                        delete q.city;
                    } else {
                        q.city = this.curCity;
                    }
                }
                if (type === "price") {
                    if (!this.rentMoneyValue) {
                        delete q.price;
                    } else {
                        q.price = this.rentMoneyValue;
                    }
                }
                if (type === 'vice_class') {
                    if (!this.rentTypeValue) {
                        delete q.vice_class;
                    } else {
                        q.vice_class = this.rentTypeValue;
                    }
                }
                if (type === 'room') {
                    if (!this.room) {
                        delete q.room;
                    } else {
                        q.room = this.room;
                    }
                }
                if (type === 'config') {
                    for (const key in this.filterConfig) {
                        if (Array.isArray(this.filterConfig[key])) {
                            if (this.filterConfig[key].length === 0) {
                                delete q[key];
                            } else {
                                q[key] = this.filterConfig[key].map(v => +v).sort().join(',');
                            }
                        } else {
                            if (!this.filterConfig[key]) {
                                delete q[key];
                            } else {
                                q[key] = this.filterConfig[key];
                            }
                        }
                    }
                }
                window.location.href = window.location.origin + window.location.pathname + "?" + Qs.stringify(q);
            },
            goDetail(id) {
                window.location.href = '/detail/' + id;
            }
        }
    }).mount('#app');
</script>
</body>
</html>